## Manipulación de DataFrames

In [3]:
import pandas as pd
import numpy as np

## Eliminación de NaNs

____

## Índices múltiples

In [4]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.297300  0.217783
   2 -0.915807  1.659417
   3 -0.086083  1.314782
G2 1 -0.617991 -2.206159
   2  0.314036 -1.445320
   3 -0.195483  1.006161

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[2]

In [ ]:
df['A']

In [ ]:
#df.loc[2]

In [ ]:
df.index.names

In [ ]:
df.index.get_level_values(0)

In [ ]:
df.index.get_level_values(1)

____

## Apply

In [ ]:
df.apply(np.sqrt)
df.apply(np.sum, axis=0)
df.apply(np.sum, axis=1)
df.apply(lambda x: [1, 2], axis=1)
df.apply(lambda x: [1, 2], axis=1, result_type='expand')

____

## Agregaciones

In [8]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], 
                   [7, 8, 9], [np.nan, np.nan, np.nan]], 
                  columns=['A', 'B', 'C'])

df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [10]:
df.agg(['sum', 'min'])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [13]:
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0

In [14]:
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [27]:
my_func = lambda x: x**2 if x%2 == 0  else 1

df['A'].agg(my_func)

0     1.0
1    16.0
2     1.0
3     1.0
Name: A, dtype: float64

____

## Merge/join