-------
## Ejercicio 1

i. Crear la serie A serie con: 
 - índices: letras del abecedario ordenadas (investigar función que genere la lista)  
 - valores: números enteros comenzando en 10, odenados de forma creciente y paso de 1 
 
ii. Crear la serie B serie con: 
 - índices: números enteros comenzando en 10, odenados de forma creciente y paso de 1  
 - valores: letras del abecedario con orden inverso (z, y, x, w ...)

iii. Seleccionar de cada una de las series los elementos con índice o valor entre d:i

-------

In [1]:
import pandas as pd
import string

In [2]:
abecedario = string.ascii_lowercase
abc = [i for i in abecedario]

In [3]:
len(abc)

26

In [4]:
values_A = range(10, 36, 1)
index_A = abc

A = pd.Series(data = values_A, index = index_A)
A

a    10
b    11
c    12
d    13
e    14
f    15
g    16
h    17
i    18
j    19
k    20
l    21
m    22
n    23
o    24
p    25
q    26
r    27
s    28
t    29
u    30
v    31
w    32
x    33
y    34
z    35
dtype: int64

In [5]:
values_B = abc
values_B.sort(reverse=True)
values_B

['z',
 'y',
 'x',
 'w',
 'v',
 'u',
 't',
 's',
 'r',
 'q',
 'p',
 'o',
 'n',
 'm',
 'l',
 'k',
 'j',
 'i',
 'h',
 'g',
 'f',
 'e',
 'd',
 'c',
 'b',
 'a']

In [6]:
index_B = values_A

B = pd.Series(data = values_B, index = index_B)
B

10    z
11    y
12    x
13    w
14    v
15    u
16    t
17    s
18    r
19    q
20    p
21    o
22    n
23    m
24    l
25    k
26    j
27    i
28    h
29    g
30    f
31    e
32    d
33    c
34    b
35    a
dtype: object

In [7]:
A['d':'i']

d    13
e    14
f    15
g    16
h    17
i    18
dtype: int64

In [8]:
B[B == 'd']

32    d
dtype: object

In [9]:
B.isin(['d','e'])

10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31     True
32     True
33    False
34    False
35    False
dtype: bool

In [10]:
B[B.isin(['d','e','f','g','h','i'])]

27    i
28    h
29    g
30    f
31    e
32    d
dtype: object

In [11]:
B[(B <= 'i') & (B >= 'd')]

27    i
28    h
29    g
30    f
31    e
32    d
dtype: object